@import "variables";
@import "mixins";
@import "animations";

.people-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $grayDarkest;
  overflow: hidden;

  .asset {
    position: relative;
    margin: 50px auto 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: crosshair;

    &.loading {
      max-width: 100px;
      max-height: 100px;
      min-width: 100px;
      min-height: 100px;
      margin-top: 120px;

      &:before {
        content: ' ';
        display: block;
        width: 100px;
        height: 100px;
        background: $grayLight;
        @include animation(rotate-plane 1.2s infinite ease-in-out);
      }
    }

    .region {
      position: absolute;
      cursor: move;
      border: 3px solid $red;
      z-index: 10;
      @include opacity(0.5);
      @include box-shadow(1px, 1px, 2px);
      @include transition(opacity, 0.5s);

      .ui-resizable-se {
        cursor: nwse-resize;
        position: absolute;
        bottom: 0;
        right: 0;
        @include opacity(0);
        @include icon("I");

        &:before {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 14px;
          height: 14px;
          line-height: 14px;
          font-size: 10px;
          text-align: center;
          background: $red;
          color: $white;
          font-weight: bold;
          @include transform(rotate(90deg))
        }
      }

      &:hover,
      &.active {
        z-index: 100;
        @include opacity(1);

        .ui-resizable-se {
          @include opacity(1);
        }
      }
    }

    .region-form {
      background: $yellowLight;
      position: absolute;
      width: 200px;
      height: auto;
      padding: 10px;
      display: none;
      @include opacity(1);

      .selections {
        display: none;
        @include animation(fade-in-down 0.5s);

        &.active {
          display: block;
        }

        button {
          display: inline-block;
          margin: 0 10px 10px 0;
          background: $red;
          color: $white;
          font-weight: normal;
          font-size: 0.9em;
          &:hover {
            background: lighten($red, 10%);
          }
          &.active {
            background: $green;
            @include icon("V");
          }
          &:before {
            margin-right: 2px;
          }
        }
      }

      .links {
        font-size: 0.8em;
        margin-top: 20px;
        text-align: right;

        .delete-link {
          color: $red;
          &:hover {
            color: lighten($red, 10%);
          }
        }
      }
    }

    .region.active .region-form.active {
      display: block;
      @include animation(fade-in-down 0.5s);
    }
  }
}

.people-toolbar {
  text-align: center;

  .message {
    display: inline-block;
    font-size: 1.2em;
    color: $white;
  }

  .button-next {
    display: block;
    position: absolute;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    top: 5px;
    right: 10px;
  }
}
